

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  font-family: 'Open Sans', sans-serif; font-weight: 300; 
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif; font-weight: 400; 
}

#mixer-container .mix{
  display: none;
}

html, body {
  height: 100%;
}

body {
  padding: 0 0 0 20px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

.navbar-default {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-toggle-btn {
  padding-top: 15px;
}

.navmenu, .navbar-offcanvas {
  width: 250px;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    left: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    left: 10px; /* padding from the left side of the window */
}

.col-centered{
    float: none;
    margin: 0 auto;
}